<% if action == :edit %>
  <% action_url = cat_url(cat)%>
  <% else %>
  <% action_url = cats_url %>
<% end %>

<form action="<%=action_url%>" method="POST">
<% if action == :edit %>
  <input type="hidden" name="_method" value="PATCH">
<% end %>
  <label>Name
    <input type="text" name="cat[name]" value="<%=cat.name%>">
  </label>
  <br>
   <label>Color
    <select name="cat[color]">
      <option <%= "selected" if cat.color == nil %>disabled> -- select a color -- </option>
      <option <%= "selected" if cat.color == "black"%> value="black">black</option>
      <option <%= "selected" if cat.color == "brown"%> value="brown">brown</option>
      <option <%= "selected" if cat.color == "white"%> value="white">white</option>
      <option <%= "selected" if cat.color == "gray"%> value="gray">gray</option>
      <option <%= "selected" if cat.color == "spotted"%> value="spotted">spotted</option>
    </select>
  </label>
  <br>
  <label>Birth Date
    <input type="date" name="cat[birth_date]" value="<%=cat.birth_date%>">
  </label>
  <br>
  <label>Sex
    <select name="cat[sex]">
      <option value="M">M</option>
      <option <%= "selected" if cat.sex == "F"%> value="F">F</option>
    </select>
  </label>
  <br>
   <label>Description
    <textarea name="cat[description]" rows="4" cols="40"><%=cat.description%></textarea>
  </label>
  <br>
  <input type="submit" value="<%= action == :edit ? 'Edit Cat' : 'Create Cat'%>">
</form>